DATABASE:
  NAME: __project_name__
  USER: __project_name__
  PASSWORD: __password__
  HOST: 127.0.0.1  # local host
  PORT: '5432'  # local host

TEST:
  NAIVE_DATETIME_ISO: 2021-01-01T05:30:21
  AWARE_DATETIME_ISO: 2021-01-01T05:30:21+00:00